SENSORSAFRICA_USERNAME = "respira"
SENSORSAFRICA_PASSWORD = "respira_user_sensorsafrica_api"
XYZT_USER = "api-user-custom-username-id@domain.com"
XYZT_PASSWORD = "secret_xyzt_password"
XYZT_DATASET_ID = "sensorsafrica-xyzt_dataset_id"  
NEW_SOURCE_DATASET_ID = "sensorsafrica_xyzt_dataset_id"